html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.ms-welcome__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    gap: 12px;
}

.ms-welcome__action {
    margin-top: 12px;
}
